<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jafapps.firebasecursosf">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_at"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_at"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firestore_lista_item.Activity_Firestore_Dados"></activity>
        <activity android:name=".firestore_lista_item.Activity_Firestore_ListaItem" />
        <activity android:name=".firestore_lista_categoria.Activity_Firestore_ListaCategoria" />
        <activity android:name=".firestore.Activity_Firestore_GravarDados" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AberturaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jafapps.firebasecursosf"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>